.user-main-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #0D0D0F;
}

.user-page-text-containner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 10rem;
    width: fit-content;
    height: 50vh;
}

.user-page-text-containner>h3 {
    font-family: f3;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.22em;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.54);
}

.user-page-text-containner>h1 {
    font-family: f1;
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 120%;
}

.user-page-text-containner>p {
    font-family: f3;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.46);
}

.user-image-enimation-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90vh;
    pointer-events: none;
}

.user-image-enimation-container::-webkit-scrollbar {
    display: none;
}

.user-page-college-design {
    place-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 24px;
    height: min-content;
    overflow: visible;
    padding: 1rem;
    position: relative;
    transform: perspective(1200px);
    width: 80%;
}

.user-page-college-design>h3 {
    font-family: "Satoshi", sans-serif;
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 150%;
}

.user-page-college-design>p {
    font-family: "Satoshi", sans-serif;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.46);
    font-size: 1.7rem;
}

.user-education-experience-resume-main-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    margin: 0 auto;
    width: 80%;
    height: fit-content;
}

.user-experience-container {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    overflow: hidden;
    flex: none;
    position: relative;
    width: 30rem;
    height: 26rem;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: rgba(255, 255, 255, 0.024) 0px 0.362176px 0.651917px -1px inset, rgba(255, 255, 255, 0.035) 0px 3px 5.4px -2px inset;
    background-color: rgba(255, 255, 255, 0.02);
}

.user-education-and-resume-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    width: fit-content;
    height: 100%;
}

.music-and-photo-slider-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    width: 80%;
    height: fit-content;
}

.musics-main-container {
    border-bottom-width: 2px;
    border-color: rgba(255, 255, 255, 0.01);
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-top-width: 2px;
    place-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 24px;
    box-shadow: rgba(255, 255, 255, 0.03) 0px 0.362176px 0.651917px -1px inset, rgba(255, 255, 255, 0.035) 0px 3px 5.4px -2px inset;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 1.5rem;
    height: min-content;
    overflow: hidden;
    padding: 2rem;
    position: relative;
    width: 48rem;
}
.spotify-main-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    width: 90%;
    height: 24rem;
}
.spotify-main-container iframe{
    width: 100%;
    height: 100%;
}

.vibe-hustling-heading {
    font-family: "Satoshi", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.8);
}

.slider-main-container {
    width: 22rem;
    height: 31rem;
    border-bottom-width: 2px;
    border-color: rgba(255, 255, 255, 0.01);
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-top-width: 2px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 24px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.03) 0px 0.362176px 0.651917px -1px inset, rgba(255, 255, 255, 0.035) 0px 3px 5.4px -2px inset;
}

.work-place-heading {
    font-family: f1;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.8);
}

@media (max-width:1100px) {
    .user-main-container {
        width: 100%;
        height: fit-content;
    }

    .user-page-text-containner>h3 {
        font-size: .8rem;
    }

    .user-page-text-containner>h1 {
        font-size: 2.1rem;
    }

    .user-page-text-containner>p {
        font-size: 1.1rem;
    }

    .user-education-experience-resume-main-container {
        overflow: hidden;
        margin-top: 1rem;
        width: 100%;
        flex-direction: column;
    }

    .user-experience-container {
        width: 100%;
    }

    .user-education-and-resume-container {
        width: 100%;
        height: 100%;
    }

    .music-and-photo-slider-main-container {
        flex-direction: column;
    }

    .slider-main-container {
        width: 100%;
    }

    .musics-main-container {
        width: 100%;
    }
    .spotify-main-container{
        flex-direction: column;
    }
    .spotify-main-container iframe{
        width: 120%;
        height: 100%;
    }
    
}

@media (max-width:700px) {
    .user-main-container {
        width: 100%;
        height: fit-content;
    }

    .user-page-text-containner {
        width: fit-content;
        height: fit-content;
    }

    .user-page-text-containner>h1 {
        font-size: 1.6rem;
    }

    .user-page-text-containner>p {
        font-size: 1.1rem;
    }

    .user-image-enimation-container {
        width: 100%;
        height: 40vh;
        flex-direction: column;
    }

    .user-page-college-design {
        width: 100%;
    }

    .user-page-college-design>h3 {
        font-size: 1.4rem;
    }

    .user-page-college-design>p {
        font-size: 1rem;
    }

    .user-education-and-resume-container {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .musics-main-container {
        width: 100%;
    }
    .musics-main-container {
        width: 100%;
    }
    .spotify-main-container{
        flex-direction: column;
    }
    .spotify-main-container iframe{
        width: 120%;
        height: 100%;
    }

    .slider-main-container {
        width: 100%;
    }
}