.second-page-container {
    padding: 1rem;
    width: 100%;
    height: fit-content;
    background-color: #0D0D0F;
}

.second-all-div-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    margin: 0 auto;
    width: 90%;
    height: fit-content;
}

@media (max-width:1100px) {
    .second-all-div-container {
        overflow: hidden;
        margin-top: 1rem;
        width: 100%;    
        flex-direction: column;
    }
}